<p id="notice"><%= notice %></p>

<h1>Listing Inventory Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Sku</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= inventory_item.name %></td>
        <td><%= inventory_item.sku %></td>
        <td><%= inventory_item.quantity %></td>
        <td> $ <%= inventory_item.price.round(2) %></td>
        <td><%= link_to 'Show', inventory_item %></td>
        <td><%= link_to 'Edit', edit_inventory_item_path(inventory_item) %></td>
        <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= paginate @inventory_items %>
  </tbody>
</table>


<br>

<%= link_to 'New Inventory item', new_inventory_item_path %>
